Q.1 CREATE ONE VARIABLE CONTAINING FOLLOWING TYPE OF DATATYPE.

1.String

In [1]:
a = "AKSHAY BHARDWAJ"

In [2]:
type(a)

str

2.List

In [3]:
l = [1,2,3,4,5,"akshay",45.5,7+2j]

In [4]:
type(l)

list

3. Float

In [5]:
b = 70.5

In [6]:
type(b)

float

4. Tuple

In [7]:
t = (1,2,3,4,5)

In [8]:
type(t)

tuple

Ques.2  Given are some following variables containing data:
        What will be the data type of the above given variable.

1. var=''

In [9]:
var = ' '

In [10]:
type(var)

str

(ii) var2 = ‘[ DS , ML , Python]’

In [11]:
 var2 = ‘[ DS , ML , Python]’

SyntaxError: invalid character '‘' (U+2018) (1625700492.py, line 1)

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [12]:
 var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

SyntaxError: invalid character '‘' (U+2018) (3912615029.py, line 1)

(iv) var4 = 1.

In [13]:
 var4 = 1.

In [14]:
type(var4)

float

QUES 3. Explain the use of the following operators using an example:

(i) /
ans- It is a divisible operator

In [15]:
4/2

2.0

(ii) % 
Ans- it is a modulus operator.

In [20]:
10%3

1

(iii) //
Ans-it is a division floor operator

In [18]:
10//5

2

(iv) **
ans- it is a power operator

In [21]:
10**2

100

Ques4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [51]:
AB = [1,2,3,4,5,"aksahy","bhardwaj",5+2j,45.5,True,7]
for i in AB:
    print(type(i))
    if i==True:
        continue
        print(i)
    else:
        print("this code is  valid")

<class 'int'>
<class 'int'>
this code is  valid
<class 'int'>
this code is  valid
<class 'int'>
this code is  valid
<class 'int'>
this code is  valid
<class 'str'>
this code is  valid
<class 'str'>
this code is  valid
<class 'complex'>
this code is  valid
<class 'float'>
this code is  valid
<class 'bool'>
<class 'int'>
this code is  valid

Ques5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [57]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

count = 0

while A >= B and A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} a total of {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the dividend (A):  10
Enter the divisor (B):  5

2 is divisible by 5 a total of 1 times.

Ques6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [60]:
l1=[10,12,15,18,20,45,89,42,47,50,62,48,25,40,35,55,17,85,36,90,80,60,150,117,115]

In [71]:
for i in l1:
    if i%3==0:
        print(i)
    else:
        print("remaining code is not divisible by 3")

remaining code is not divisible by 3
12
15
18
remaining code is not divisible by 3
45
remaining code is not divisible by 3
42
remaining code is not divisible by 3
remaining code is not divisible by 3
remaining code is not divisible by 3
48
remaining code is not divisible by 3
remaining code is not divisible by 3
remaining code is not divisible by 3
remaining code is not divisible by 3
remaining code is not divisible by 3
remaining code is not divisible by 3
36
90
remaining code is not divisible by 3
60
150
117
remaining code is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Imutable-it cannot replace the at its perticular place is called mutable.
example: string type variable.
Mutable- it can replace the value that present in variable.
    example- list type varible.